*{
    box-sizing:border-box;
   font-size: 1.2rem;
}


@mixin dayHover{
    border: rgb(232, 32, 14) 3px solid;
    cursor: pointer;
}
@mixin dayWrap{
    border : 3px solid black;
    width: 14.28%;
    height: 130px;
    font-size:1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
@mixin number{
    font-family: 'Titan One', cursive;
    font-size: 1.5rem;
}

.year{
    text-align: center;
    @include number;
}
.month{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    i{
        font-size: 2rem;
    }
    i:hover{
       color: red;
       cursor: pointer;
    }
    
    .month_left{
        width: 10%;
    }.month_mid{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        .day_number{
            @include number;
            margin:0 10px;
        }
        
    }.month_right{
        width: 10%;
    }
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .tag_holiday{
        width: 20px;
        height: 20px;
        background-color: rgb(243, 243, 193);
        border:1px solid black;
    }
    .tag_work{
        width: 20px;
        height: 20px;
        background-color: rgb(102, 180, 243);
        border:1px solid black;
    }
}

.day_wrap{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    border : 1px solid black;
    text-align: center;
    div{
        // border : .5px solid black;
        border-collapse:collapse;
    }
    .weekday{
        border : 3px solid black;
        width: 14.28%;
        height: 50px;
        font-size:1.5rem;
    }
    .empty{
        border : 3px solid black;
        width: 14.28%;
        height: 130px;
        background-color: #cccccc63;
    }
    .normal_day{
        @include dayWrap;
    }
    .make_up_work{
        @include dayWrap;
        background-color: rgb(102, 180, 243);
    }
    .make_up_work:hover{
        @include dayHover;
    }
    .day_off{
        @include dayWrap;
        background-color: rgb(243, 243, 193);
    }
    .day_off:hover{
        @include dayHover;
    }
    .day_number{
        margin: 5px 0 0 10px;
        @include number;
    }
}






// 搭配雄獅JSON檔案
.travel_wrap{
    
    width: 100%;
    
    .status_full{
        color: rgb(255, 192, 3);
        font-weight: 700;
    }
    .status_vacancies{
        color: green;
        font-weight: 700;
    }
    .money{
        color:red;
    }
    .more{
        color:rgb(30, 144, 232);
        i{
            color:red;
            margin-left:3px ;
            font-size: .5rem;
        }
    }
    p{
        text-align: left;
        font-size: .8rem;
        font-weight: 700;
        margin: 2px 10px 2px 0;
    }
}