.box_wrap{
    position: fixed;
    z-index: 10;
    background-color: #000000a2;
    width: 100%;
    height: 100vh;
    .box{
        width: 700px;
        height: 600px;
        background-color: #fff;
        border-radius: 10px;
        margin: 50px auto;
        p{
            font-size: 2rem;
            text-align: center;
        }
        .ups_btn{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            p{
                font-size: 1.3rem;
                text-align: center;
            }
        }
        .container {
            box-sizing: border-box;
            width: 70px;
            height: 40px;
            padding: 2px;
            border-radius: 20px;
            background-color: #eee;
            border: 2px solid #ccc;
          }
          .circle {
            position: relative;
            width: 32px;
            height: 32px;
            background-color: #aaa;
            border-radius: 50%;
            margin-left: 0;
            cursor: pointer;
            transition: all .3s;
          }
          .is-active.container {
            background-color: Honeydew;
            border-color: SeaGreen;
          }
          .is-active .circle {
            background-color: DarkGreen;
            margin-left: calc(100% - 32px);
          }

    }
}

