.turning_wrap{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
        font-weight: 700;
        font-size: 1.5rem;
    }
    .prize{
        color: white;
        display: flex;
        align-items: center;
        text-align: center;
        gap: 10px;
        // margin-bottom: 20px;
        .prize_wrap{
            margin:  5px 0;
            span{
                color: black;
                font-weight: 700;
                background-color: rgb(255, 217, 122);
                border: 1.5px solid #ccc;
                border-radius: 5px;
                padding: 2px 4px;
                i{
                    margin-left: 10px;
                }
                i:hover{
                    color: red;
                    cursor: pointer;
                }
            }
        }
    
    }
    .canvasWrap{
        width: 500px;
        height: 500px;
        position: relative;
        .triangle{
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            border-top: 50px solid #010101;
            display:inline-block;
            position: absolute;
            left: calc(50% - 7.5px);
            top: 30px;
        }
    }
    
    
        .start_turn{
            border-radius:5px ;
            border: none;
            padding: 10px;
            font-weight: 700;
            background-color: #558ffa;
            cursor: pointer;
        }
        .stop_turn{
            border-radius:5px ;
            border: none;
            padding: 10px;
            font-weight: 700;
            background-color: #e77f71;
            cursor: pointer;
        }
    

        .addPrize{
            margin-left: 10px;
            background-color: #87e6dc;
            border-radius: 5px;
            border: none;
            font-weight: 700;
            padding: 10px;
            cursor: pointer;
        }
        .addPrize:hover{
            background-color: #e9aaf3;
        }
        .editPrize{
            margin-left: 10px;
            background-color: #e7deb8;
            border-radius: 5px;
            border: none;
            font-weight: 700;
            padding: 10px;
            cursor: pointer;
        }
        .editPrize:hover{
            background-color: #e9aaf3;
        }
}


// 燈箱
.edit_lightbox_wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 3;
    background-color: #00000092;
    .box{
        width: 500px;
        height: 600px;
        background-color: #8ab1c8;
        border-radius: 10px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        textarea{
            border-radius: 10px; 
        }
        button{
            margin-left: 10px;
            background-color: #87e6dc;
            border-radius: 5px;
            border: none;
            font-weight: 700;
            padding: 10px;
            cursor: pointer;
        }
        button:hover{
            background-color: #e9aaf3;
        }
    }
}


